name: rrplug-test-build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3.2.2
      with:
         # A list of files, directories, and wildcard patterns to cache and restore
        path: target/
        # An explicit key for restoring and saving the cache
        key: whar
    - name: Build
      run: |
        cargo build --all-features
    - name: Check clippy
      run: |
        cargo clippy
    - name: Run tests
      run: cargo test --verbose
